h2 {
  padding-right: 15px;
}

#quote-box {
  border-radius: 25px;
  padding: 20px;
  background-color: #777777;
}

#language-switch {
  size: 15px;
}

#top-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#bottom-row {
  display: flex;
  justify-content: space-evenly;
}

.App {
  text-align: center;
}

a {
  color: aliceblue;
}
a:hover {
  color: rgb(73, 165, 240);
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-red {
  color: rgba(228, 179, 179, 0.897);
}

.background-blue {
  color: rgb(169, 189, 252);
}
